<h1>Dashboard</h1>

<div class="container">
  <div class="row">
    <div class="col";>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Number of Jobs by Interest Level</h4><br>
          <% @jobs_by_interest.each_pair do |key, value| %>
            <p class="card-subtitle text-muted"><%= key %>: <%= value %></p></br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <h4>Top Companies by Interest Level</h4>
      <% @companies_by_job_interest.each do |company| %>
      <%= company.name %>: <%= company.average_interest_level %><br>
      <% end %>
    </div>
    <div class="col">
      <h4>Jobs by City</h4>
      <% @jobs_by_city.each_pair do |key, value| %>
      <a href="/jobs?location=<%= key %>"> <%= key %></a>: <%= value %><br>
      <% end %>
    </div>
  </div>
</div>
