<h4>All Jobs for <strong><%= @company.name %></strong></h4>

<section>
  <%= link_to "Create a Job", new_company_job_path(@company.id), class:"btn btn-primary" %>
</section>

<ul>
  <% @company.jobs.each do |job| %>
    <div id="job-<%= job.id %>">
      <li><strong><%= job.title %></strong></li>
      <li><%= link_to "Edit", edit_job_path(job) %> </li>
      <li><%= link_to "Delete", job_path(job), method: 'delete', id: "delete-#{job.id}" %> </li>
    </div>
  <% end %>
</ul>
<h4>Contacts:</h4>
<ul>
<% @company.contacts.each do |contact| %>
    <li><%= contact.name %></li>
    <li><%= contact.position %></li>
    <li><%= contact.email %></li>
<% end %>
</ul>
