<h4>All Jobs for <strong><%= @company.name %></strong></h4>

<section>
  <%= link_to "Create a Job", new_company_job_path(@company.id), class:"btn btn-primary" %>
</section>

<ul>
  <% @company.jobs.each do |job| %>
    <div id="job-<%= job.id %>">
      <li><strong><%= link_to job.title, job_path(job) %></strong></li>
      <li><%= link_to edit_job_path(job) do%>
            <i class="fas fa-edit"><span class="hidden">Edit</span></i>
          <% end %>
      </li>
      <li><%= link_to job_path(job), method: 'delete', id: "delete-#{job.id}" do %>
          <i class="fas fa-trash-alt"><span class="hidden">Delete</span></i>
        <% end %>
      </li>
    </div>
  <% end %>
</ul>
<h4>Existing Contacts:</h4>
<ul>
<% @company.contacts.each do |contact| %>
    <li><%= contact.name %></li>
    <li><%= contact.position %></li>
    <li><%= contact.email %></li>
    <!-- <i class="fas fa-edit"><span class="hidden">Edit</span></i>
    <i class="fas fa-trash-alt"><span class="hidden">Delete</span></i> -->
<% end %>
</ul>
<%= link_to "Create New Contact", new_company_contact_path(@company) %>
