Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= link_to @job.city, "/jobs?location=#{@job.city}" %>
<br>

Category: <%= link_to @category.title, category_path(@category) %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<%= render partial:"commentform" %>

Comments:
<ul>
  <% @ordered_comments.each do |comment| %>
    <li>Comment last updated: <%= comment.updated_at %> </li>
    <li>Comment: <%= comment.message %> </li>
  <% end %>
</ul>
