All Jobs for <strong><%= @company.name %></strong>


<ul>
  <% @company.jobs.each do |job| %>
    <li><%= job.description %></li>
    <li><%= link_to "Edit", edit_job(job) %> </li>
    <li><%= link_to "Delete", job(job), method: 'delete', id: "delete-#{job.id}" %> </li>
  <% end %>
</ul>
<%= link_to "Create New Contact", new_company_contact(@company) %>
<ul>
<h2>Contacts:</h2>
<% @company.contacts.each do |contact| %>
  <li>Name: <%= contact.name %></li>
  <li>Position: <%= contact.position %></li>
  <li>Email Address: <%= contact.email %></li>
<% end %>
</ul>
