<% @categories.each do |category| %>
  <p> <%= category.title %> </p>

<% end %>

<ul>
  <% @categories.each do |category| %>
  <li id="category_<%= category.id %>">
    <%= link_to category.title, category_path(category) %>
    <%= link_to "Edit", edit_category_path(category) %>
    <%= link_to "Delete", category_path(category), method: "delete" %>
  </li>
  <% end %>
</ul>
